<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profiler.jpg" %>
		
	</div>
	<div id="content">
		<h1>It's Mr. Métouolé Mwinbé</h1>
		<p>I am the second wealthy man of the world at the age of 35 years Old. I thanks Lord for all is gift and the intelligent he give to me. my first message for other who are visiting this website just no that nothing is impossible on this Live. You have to just start, failed, stand up again continue and failed stand up and you stay higher and other people will ask you, how you did to achieve this dremandous mission. Don't worry Yves you will find a way, and no matter what you will succeed because success is in your blood, Lord his your power and he promise and predict you a bright futur so just do you work be more aggrassive go and check. Work hard day by day and you will see the different. Success will come quickly than you can imagine.</p>
		
	</div>
	
</div>